[Unit]
Description=BeagleBone Black Daemon Function Identification and Synchronism Service
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=3
Type=simple 

WorkingDirectory=/root/bbb-daemon/host/
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-ps'; sleep 15
EnvironmentFile=-/tmp/bashrc-sirius-ioc-ps
ExecStart=/bin/bash /root/bbb-daemon/host/run/run-functions.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target


