[Unit]
Description=BeagleBone Black Daemon Function Identification and Synchronism Service

[Service]
Restart=always
RestartSec=3
Type=simple
Environment=PYTHONPATH=/root/bbb-daemon/
WorkingDirectory=root/bbb-daemon/host/
ExecStart=/bin/bash /root/bbb-daemon/host/run/run-functions.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target


