[Unit]
Description=BeagleBone Black Daemon Monitoring Service
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=3
Type=simple
Environment=PYTHONPATH=/root/bbb-daemon/
WorkingDirectory=root/bbb-daemon/host/
ExecStartPre=/bin/sleep 15
ExecStart=/bin/bash /root/bbb-daemon/host/run/run-daemon.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target


