[Unit]
Description=Initialize the serial port bind.

[Service]
Restart=always
RestartSec=5
Type=simple
WorkingDirectory=/root/bbb-daemon/function/scripts
ExecStart=/bin/bash /root/bbb-daemon/function/scripts/init.sh
StandardOutput=syslog
StandardError=syslog
 
[Install]
WantedBy=multi-user.target
