{% extends "bootstrap/base.html" %}

{% block title %}
{{super()}}
    BBB Daemon
{% endblock %}


{% block content %}
{{super()}}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}

{% block navbar %}
    {{super()}}
    {{ nav.my_navbar.render() }}
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% endblock %}


