{% extends "bootstrap/base.html" %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
    BBB Daemon
{% endblock %}

{% block styles %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="alert-div" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}  alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block navbar %}
    {{ super() }}
    {{ nav.my_navbar.render() }}
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/Chart.min.js" charset="utf-8"></script>
{% endblock %}


