{% extends "base.html" %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}



    <div class="container">
        <div style="float:left;">
            <canvas class="col-4" id="cChart" width="550" height="400"></canvas>
        </div>
        <div style="float:right;">
            <canvas class="col-4" id="uChart" width="550" height="400"></canvas>
        </div>
        <br>


        <div><strong><h3>Current Sector</h3></strong><br></div>
        <div class="form-group ">
            <div class="selectContainer">
                <select class="form-control" name="size" id="current_sector">
                    {% for sector in sectors %}
                        <option value={{ sector }}>{{ sector }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>

        <table class="table table-hover">
            <h3>Configured</h3>
            <thead class="thead-dark">
            <tr class="alert-info">
                <th scope="col">Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Type Name</th>
                <th scope="col">Type Repo URL</th>
                <th scope="col">rc.local Path</th>
                <th scope="col">Sector</th>
                <th scope="col">PV Prefix</th>
                <th scope="col">State</th>
                <td scope="col"></td>
            </tr>
            </thead>
            <tbody id='confTBody'>
            </tbody>
        </table>

        <table class="table table-hover">
            <h3>Not Configured</h3>
            <thead class="thead-dark">
            <tr class="alert-danger">
                <th scope="col">Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Type Name</th>
                <th scope="col">Type Repo URL</th>
                <th scope="col">rc.local Path</th>
                <th scope="col">Sector</th>
                <th scope="col">PV Prefix</th>
                <th scope="col">State</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id='uconfTBody'>
            </tbody>
        </table>
        <br>
        <button id="btn_switch_bbb" onclick="switch_bbb()" type="button" class="btn btn-success btn-block " disabled>
            Switch Selected BBBs
        </button>
    </div><br><br>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>

        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data = data;
            });

            chart.update();
        }

        function removeData(chart) {
            chart.data.labels.pop();
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();
        }

        const ctx_c = document.getElementById("cChart").getContext('2d');
        const chart_c = new Chart(ctx_c, {
            responsive: true,
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Connected Nodes',
                    borderWidth: 1,
                    backgroundColor: 'rgb(144, 238, 144)',
                    borderColor: 'rgb(50, 205, 50)'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            min: 0,
                            autoSkip: false
                        }
                    }]
                }
            }
        });

        const ctx_u = document.getElementById("uChart").getContext('2d');
        const chart_u = new Chart(ctx_u, {
            responsive: true,
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Disconnected/Unconfigured Nodes',
                    borderWidth: 1,
                    backgroundColor: 'rgb(220, 20, 60)',
                    borderColor: 'rgb(255, 0, 0)'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            min: 0,
                            autoSkip: false
                        }
                    }]
                }
            }
        });

        var btn_switch = document.getElementById("btn_switch_bbb");

        const bbb_configured_selected = {
                    name: '',
                    ip: ''
        };
        const bbb_unconfigured_selected = {
                    name: '',
                    ip: ''
        };

        var active_sector_val = null;

        /**
         * Removel all children
         */
        function removeChild(node) {
            if (node) {
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
            }
        }

        /**
         Get a row from node !
         */
        function getRow(node, conf) {
            const tr = document.createElement('tr');
            if (conf) {
                tr.setAttribute('onclick', 'selectRowConf(this);');
            } else {
                tr.setAttribute('onclick', 'selectRowUconf(this);');
            }


            const td_name = document.createElement('td');
            td_name.innerText = node['name'];

            const td_ip = document.createElement('td');
            td_ip.innerText = node['ipAddress'];

            const td_type_name = document.createElement('td');
            td_type_name.innerText = node['type']['name'];

            const td_repo = document.createElement('td');
            td_repo.innerText = node['type']['repoUrl'];

            const td_rc = document.createElement('td');
            td_rc.innerText = node['rcLocalPath'];

            const td_sector = document.createElement('td');
            td_sector.innerText = node['sector'];

            const td_pref = document.createElement('td');
            td_pref.innerText = node['pvPrefix'];

            const td_state = document.createElement('td');
            td_state.innerText = node['state_string'];

            const td_reboot = document.createElement('td');
            const btn_reboot = document.createElement('button');
            btn_reboot.setAttribute('type', 'button');
            btn_reboot.setAttribute('onclick', 'rebootThis(this);');
            btn_reboot.setAttribute('myName', node['name']);
            btn_reboot.setAttribute('myIp', node['ipAddress']);
            btn_reboot.setAttribute('class', 'btn btn-danger');
            btn_reboot.innerText = 'Reboot BBB';

            switch (node['state']) {
                case 0: // Disconnected
                    td_state.innerText = 'Disconnected';
                    btn_reboot.setAttribute('disabled', '');
                    break;
                case 1: // Misconfigured
                    td_state.innerText = 'Misconfigured';
                    btn_reboot.removeAttribute('disabled');
                    break;
                case 2: // Connected
                    td_state.innerText = 'Connected';
                    btn_reboot.removeAttribute('disabled');
                    break;
                case 3: // Rebooting
                    td_state.innerText = 'Rebooting';
                    btn_reboot.setAttribute('disabled', '');
                    break;
                default:

            }

            td_reboot.appendChild(btn_reboot);

            tr.appendChild(td_name);
            tr.appendChild(td_ip);
            tr.appendChild(td_type_name);
            tr.appendChild(td_repo);
            tr.appendChild(td_rc);
            tr.appendChild(td_sector);
            tr.appendChild(td_pref);
            tr.appendChild(td_state);
            tr.appendChild(td_reboot);

            return tr;
        }

        function rebootThis(me) {
            console.log(me)
            var myIp = me.getAttribute("myIp");
            $.post(
                '{{ reboot_bbb_url }}',
                {bbb_ip: myIp, bbb_sector: active_sector_val}
            ).done(function (data) {
                console.log(data);
            });
        }

        function updateBtnStatus() {

            btn_switch.innerHTML =
                "Switch <strong> <br>Configured:\t" +  bbb_configured_selected['name'] + "\t\tIP:" +  bbb_configured_selected['ip']
                + "<br>Not Configured:\t" +  bbb_unconfigured_selected['name'] + "\t\tIP:" +  bbb_unconfigured_selected['ip']  + "</strong>";

            btn_switch.disabled = (bbb_unconfigured_selected['name']=='' || bbb_configured_selected['name']=='');
        }

        function switch_bbb() {
            if (bbb_configured_selected['name'] != '' && bbb_unconfigured_selected['name'] != '') {
                const objToSend = {
                    c_bbb:{
                        name: bbb_configured_selected['name'],
                        ip:bbb_configured_selected['ip'],
                        sector: active_sector_val,
                    },
                    u_bbb:{
                        name: bbb_unconfigured_selected['name'],
                        ip:bbb_unconfigured_selected['ip'],
                        sector: active_sector_val,
                    }
                };
                console.log(objToSend);
                const json = JSON.stringify(objToSend);
                console.log(json)
                $.post(
                    '{{ switch_bbb_url }}',
                    objToSend
                ).done(function (data) {
                    console.log(data);
                    bbb_configured_selected['name'] = '';
                    bbb_configured_selected['ip'] = '';

                    bbb_unconfigured_selected['name'] = '';
                    bbb_unconfigured_selected['ip'] = '';

                    console.log('reset selection!');
                    updateBtnStatus();
                });
            }
        }

        function clearChart(chart){
            if(chart){
               chart.data.datasets.forEach((dataset) => {
                            dataset.data = [];
               });
            }
        }

        function setChartData(chart,lbls ,data){
            if(chart){
                chart.data.labels = lbls;
                chart.data.datasets.forEach((dataset) => {
                    dataset.data = data;
                });
            }
        }

        function refresh_chart() {
            $.post(
                '{{ refresh_chart_url }}'
            ).done(function (data, success) {
                if (success) {

                    clearChart(chart_c);
                    clearChart(chart_u);

                    setChartData(chart_c, data['lbls'], data['c_vals']);
                    setChartData(chart_u, data['lbls'], data['u_vals']);

                    chart_c.update();
                    chart_u.update();
                }
            });
        }

        function refresh_bbbs() {
            var current_sector_val = $('#current_sector').val();
            if (active_sector_val !== current_sector_val) {
                active_sector_val = current_sector_val;

                bbb_configured_selected['name'] = '';
                bbb_configured_selected['ip'] = '';

                bbb_unconfigured_selected['name'] = '';
                bbb_unconfigured_selected['ip'] = '';

                btn_switch.disabled = true;
            }

            $.post('{{ refresh_url }}',
                {'sector': current_sector_val})

                .done(function (data, success) {
                    if (success) {

                        const confTBody = document.getElementById('confTBody');
                        const uconfTBody = document.getElementById('uconfTBody');

                        const cNodes = data['configured_nodes'];
                        const uNodes = data['unconfigured_nodes'];

                        removeChild(confTBody);
                        removeChild(uconfTBody);


                        for (var i = 0; i < cNodes.length; i++) {
                            const tr = getRow(cNodes[i], true);
                            confTBody.appendChild(tr);
                        }

                        for (var i = 0; i < uNodes.length; i++) {
                            const tr = getRow(uNodes[i], false);
                            uconfTBody.appendChild(tr);
                        }

                    }
                });
        }

        function selectRowConf(meRow) {
            // First column is the status one ...
            const name = meRow.childNodes[0].innerText;
            const ip = meRow.childNodes[1].innerText;

            if (name === bbb_configured_selected['name']) {

                bbb_configured_selected['name'] = '';
                bbb_configured_selected['ip'] = '';

            } else {

                bbb_configured_selected['name'] = name;
                bbb_configured_selected['ip'] = ip;

            }
            updateBtnStatus();
        }

        function selectRowUconf(meRow) {
            // First column is the status one ...
            const name = meRow.childNodes[0].innerText;
            const ip = meRow.childNodes[1].innerText;

            if (name === bbb_unconfigured_selected['name']) {

                bbb_unconfigured_selected['name'] = '';
                bbb_unconfigured_selected['ip'] = '';

            } else {

                bbb_unconfigured_selected['name'] = name;
                bbb_unconfigured_selected['ip'] = ip;
            }
            updateBtnStatus();
        }

        refresh_bbbs();
        refresh_chart();

        setInterval(function () {
            refresh_bbbs()
        }, 2000);

        setInterval(function () {
            refresh_chart()
        }, 2000);

    </script>
{% endblock %}
