{% if types %}
    {% for type in types %}
    <tr>
        <td>{{ type.name }}</td>
        <td>{{ type.repoUrl }}</td>
        <td>{{ type.description }}</td>
        <td>{{ type.rcLocalPath }}</td>
        <td>
            <button value={{type.name}} onclick="edit_type(this)" type="button" class="btn btn-success">Edit</button>
            <button value={{type.name}} onclick="delete_type(this)"  type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    {% endfor %}
{% endif %}