[Unit]
Description=BeagleBone Black Daemon Monitoring Service
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=3
Type=simple
Environment=PYTHONPATH=/root/bbb-daemon/
ExecStart=/bin/bash /root/bbb-daemon/daemon/run.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target


