{% extends "base.html" %}

{% block content %}
<div class="content-section container">

    {% if node %}
    <h1>Edit Node <strong>{{ node.Name }}</strong></h1><br>
    {% else %}
    <h1>Insert Node</h1><br>
    {% endif %}

    {{ super() }}
   
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">
                Node Settings
            </legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.ip_address.label(class="form-control-label") }}
                {% if form.ip_address.errors %}
                {{ form.ip_address(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.ip_address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.ip_address(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.pv_prefix.label(class="form-control-label ") }}
                {% if form.pv_prefix.errors %}
                {{ form.pv_prefix(class="form-control form-control-lg is-invalid rows=10") }}
                <div class="invalid-feedback">
                    {% for error in form.pv_prefix.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.pv_prefix(class="form-control form-control-lg rows=10") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.rc_local_path.label(class="form-control-label") }}
                {% if form.rc_local_path.errors %}
                {{ form.rc_local_path(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.rc_local_path.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.rc_local_path(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {{ form.type(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.sector.label(class="form-control-label") }}
                {{ form.sector(class="form-control") }}
            </div>
   <!--

            <div>
                <div class="form-group row">

                    <div class="col-sm-10">
                        <input id="prefixInput" class="form-control" placeholder="New PV Prefix">
                    </div>

                    <button onclick="addPrefix()" type="button" class="btn btn-default col-sm-2">
                        <span class="glyphicon glyphicon-plus"></span> Add PV Prefix
                    </button>
                </div>

                <ul id='list-prefix' class="list-group">
                </ul>
                <br>
            </div>
-->
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-info btn-lg btn-block") }}
        </div>
        <br>

    </form>
</div>
{% endblock %}

<!--
{% block scripts %}
    <script>
        var i = 0;

        function removeElement(id) {
            var elem = document.getElementById(id);
            return elem.parentNode.removeChild(elem);
        }

        function addPrefix() {
            var newPfrefix = document.getElementById('prefixInput');

            if (newPfrefix) {
                var ul = document.getElementById('list-prefix');
                var li = document.createElement("li");
                var delBtn = document.createElement('input');//;<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                delBtn.className = 'btn  close';


                li.setAttribute("id", 'li' + i);
                delBtn.type = 'button';

                delBtn.onclick = function () {
                    var id = 'li' + i
                    removeElement(id);
                };
                delBtn.value = 'X';
                li.className = 'list-group-item';
                li.value = newPfrefix.value;
                li.appendChild(document.createTextNode(newPfrefix.value.toString()));
                li.appendChild(delBtn)
                ul.appendChild(li);
            }
        }
    </script>
{% endblock %}

 -->