{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
        // Search the DOM
        const nodesTable = $('#nodes_table');
        const currentSelector = $('#current_sector');
        const alertDiv = $('#alert-div');

        var active_sector_val = null;

        function edit_node(obj) {
            const node_name = obj.value;
            window.location = "{{ edit_url }}" + "?node_name=" + node_name;
        }

        function delete_node(obj) {
            const node_name = obj.value;
            if (active_sector_val) {
                $.post('', {'action': 'DELETE', 'node_name': node_name})
                    .done(function (data) {
                        console.log(data);
                        refresh_bbbs();
                    });
            }
        }

        function refresh_bbbs() {
            active_sector_val = currentSelector.val();
            $.post('{{ refresh_url }}', {'sector': active_sector_val})
                .done(function (data) {
                    nodesTable.html(data);
                });
        }

        refresh_bbbs();

        setInterval(function () {
            refresh_bbbs()
        }, 2000);


        function validate_repo() {

            var gitUrl = document.getElementById('repo_url').value;
            var rcPath = document.getElementById('rc_local_path').value;


            $.post('{{ url }}', {'action': 'VALIDATE', 'gitUrl': gitUrl, 'rcPath': rcPath})
                .done(function (data) {
                    var alert_comp = null;

                    const div = document.createElement('div');
                    if (data['success']) {
                        //@todo: use mustache templates !
                        alert_comp =
                            '<div class="alert alert-success alert-dismissible fade in" role="alert">' +
                            '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'
                            + data['message']
                            + '</div>';
                    } else {
                        alert_comp =
                            '<div class="alert alert-danger alert-dismissible fade in" role="alert">' +
                            '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                            data['message'] +
                            '</div>';
                    }
                    div.innerHTML = alert_comp;
                    alertDiv.appendChild(div);
                });
        }

    </script>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div><strong><h3>Current Sector</h3></strong><br></div>
        <div class="form-group ">
            <div class="selectContainer">
                <select class="form-control" name="size" id="current_sector">
                    {% for sector in sectors %}
                        <option value={{ sector }}>{{ sector }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div><br>

    <div class="container">
        <h1>View Nodes</h1>
        <br>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Type Name</th>
                <th scope="col">Type Repo URL</th>
                <th scope="col">Type rc.local Path</th>
                <th scope="col">Sector</th>
                <th scope="col">PV Prefix</th>
                <th scope="col">State</th>
                <th scope="col">rc.local Path</th>
            </tr>
            </thead>
            <tbody id="nodes_table">

            </tbody>
        </table>
    </div>

{% endblock %}
